# 1. Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

In [13]:
def add_num_to_list(li, num):
    returning_list = []
    
    try:
        
        for i in range(1, len(li)):
            returning_list.append(li[i])
        returning_list.append(num)
        return returning_list

    except Exception as e:
        print(e)

add_num_to_list([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

# 2 Create the function that takes a list of dictionaries and returns the sum of people's budgets.

In [20]:
def get_budget(d1, d2, d3):
    budget = d1["budget"] + d2["budget"] + d3["budget"]
    print(budget)
    
get_budget({ "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
)

65700

# 3. Create a function that takes a string and returns a string with its letters in alphabetical order.

In [33]:
def alphabet_soup(sent):
    final_sent = str("".join(sorted(map(str, sent))))
    
    return final_sent 

alphabet_soup("hello")

'ehllo'

# 4. Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

In [54]:
def compound_interest(p, y , i, n):
    
    principal = round(p * (1 + i/n)**(n*y), 2)
    return principal

compound_interest(100000, 20, 0.15, 365)

2007316.26

# 5. Write a function that takes a list of elements and returns only the integers.

In [62]:
def return_only_integer(l):
    int_list = []
    for i in range(len(l)):
        if type(l[i]) == int:
            int_list.append(l[i])
    return int_list
            
        
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]